            *,
            *:before,
            *:after {
                box-sizing: border-box;
            }
            
            body {
                font-family: TT Lakes;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.2px;
                margin: 0;
            }
            
            .inner-wrapper {
                max-width: 1058px;
                min-width: 288px;
                margin: 0 16px;
            }
            
            .main {
                background: #F8F8F8;
                position: relative;
            }
            
            .divider-blue::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 40px;
                background: #41F6D7;
                left: 0;
                border-radius: 0 0.25rem 0.25rem 0;
            }
            
            .divider-right::before {
                content: '';
                height: 32px;
                width: 2px;
                top: 6px;
                left: -40%;
                background: #EAEAEA;
                border-radius: 1px;
                position: absolute;
            }
            /*HEADER*/
            
            .header {
                background: #FFFFFF;
            }
            
            .main__header {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
            
            .main__inner {
                display: flex;
                justify-content: space-between;
                gap: 32px;
            }
            
            .header__nav {
                display: flex;
                justify-content: space-between;
                margin-top: 24px;
                margin-bottom: 24px;
            }
            
            .header__list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            
            .header__item {
                position: relative;
            }
            /* MAIN */
            
            .main__title {
                font-size: 28px;
                line-height: 40px;
                letter-spacing: -0.6px;
                color: #1B1C21;
            }
            
            .main__nav-menu {
                overflow: auto;
            }
            
            .main__nav-btn:focus {
                height: 40px;
                left: 266px;
                right: 622px;
                background: #FFFFFF;
                border: 2px solid #B8FFEC;
                box-sizing: border-box;
                border-radius: 6px;
            }
            
            .main__menu-list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                gap: 20px;
            }
            
            .main__content {
                margin-top: 24px;
            }
            
            .main__text {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #1B1C21;
            }
            
            .main__text-btn {
                margin-top: 16px;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.2px;
                color: #1B1C21;
                padding: 0;
                cursor: pointer;
            }
            
            .main__content-img {
                margin-top: 16px;
            }
            
            .header__btn,
            .main__btn {
                border: none;
                background-image: none;
                background: transparent;
                background-color: transparent;
            }
            
            .header__item--item--visibility {
                display: none;
            }
            
            .main__btn--btn--visibility {
                display: none;
                cursor: pointer;
            }
            
            .main__nav-btn {
                border: none;
                background-image: none;
                background: transparent;
                background-color: transparent;
                border-radius: 6px;
                font-family: TT Lakes;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.2px;
                color: #7E7E82;
                white-space: nowrap;
                height: 40px;
                left: 266px;
                right: 622px;
                cursor: pointer;
            }
            
            .main__img--lg--visibility,
            .main__img--md--visibility {
                display: none;
            }
            
            .main__text-span {
                display: none;
            }
            
            .main__text-btn {
                border: none;
                background-image: none;
                background: transparent;
                background-color: transparent;
                font-family: TT Lakes;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */
                letter-spacing: -0.2px;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                align-items: center;
                white-space: nowrap;
            }
            
            .main__text--text--visibility {
                display: none;
            }
            
            .main__img main__img--lt--visibility {
                display: block;
            }
            /*MEDIA*/
            /* @media (max-width: 767px) {} */
            
            @media (min-width: 768px) {
                .header__item--item--visibility {
                    display: block;
                }
                .main__img--md--visibility {
                    display: block;
                }
                .main__img--lg--visibility,
                .main__img--lt--visibility {
                    display: none;
                }
                .main__text--text--visibility {
                    display: block;
                }
                .main__content {
                    display: flex;
                    gap: 48px;
                }
                .header__item--item--size {
                    margin-right: 42px;
                }
                .inner-wrapper {
                    margin: 0 25px;
                }
                .divider-left::before {
                    content: '';
                    height: 32px;
                    width: 2px;
                    top: 6px;
                    right: -40%;
                    background: #EAEAEA;
                    border-radius: 1px;
                    position: absolute;
                }
            }
            
            @media (min-width: 1120px) {
                .header {
                    display: none;
                }
                .main__img--lg--visibility {
                    display: block;
                }
                .main__img--md--visibility,
                .main__img--lt--visibility {
                    display: none;
                }
                .main__text-span {
                    display: block;
                }
                .main__btn--btn--visibility {
                    display: block;
                }
                .main__btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    font-family: TT Lakes;
                    font-size: 16px;
                    line-height: 24px;
                    /* identical to box height, or 150% */
                    letter-spacing: -0.2px;
                    color: #1B1C21;
                    font-weight: 600;
                }
                .main__content {
                    display: flex;
                    gap: 36px;
                }
                .main__menu-list {
                    flex-wrap: wrap;
                }
            }